---
import { Image } from "astro:assets";
import img1 from "../assets/banner.png";
import img2 from "../assets/banner2.png";
import img3 from "../assets/banner3.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
 <main
  class="section-top prose prose-img:mx-auto prose-img:shadow-gray-100 prose-img:shadow-md prose-img:max-w-full md:prose-img:max-w-[815px] prose-img:rounded-lg prose-headings:px-0 prose-p:px-0 md:prose-headings:px-32 md:prose-p:px-32 prose-a:px-0 md:prose-a:px-32 prose-span:px-0 md:prose-span:px-32 max-w-none"
 >
  <Image src={img1} alt="Анонимные Медиа Зависимые" format="avif" quality={"high"} />
  <h3>Анонимные Медиа Зависимые</h3>
  <p>
   это СНГ сообщество людей, которые благодаря общему опыту, силе и надежде объединяются,
   чтобы найти облегчение и выздоровление от медиазависимости. Мы принимаем всех, кто
   хочет прекратить компульсивное использование медиа.
  </p>
  <Image src={img3} alt="7-я Традиция" format="avif" quality={"high"} />
  <h3>7-я Традиция</h3>
  <p>
   Членские взносы не взимаются; мы существуем на собственные средства, не запрашивая и не
   принимая пожертвований извне. MAA в целом не связана ни с одной государственной или
   частной организацией. Мы не имеем своего мнения по внешним вопросам, особенно
   касающимся СМИ. Мы не поддерживаем и не выступаем против каких-либо целей, политических
   взглядов, идеологии или религиозной доктрины.
  </p>

  <h3>Поддержка</h3>
  <p>
   Мы поддерживаем все формы трезвости в отношении интернета, включая воздержание от
   электронных гаджетов, фильмов, радио, газет, журналов, книг и музыки.
  </p>
  <Image src={img2} alt="12 шагов программа" format="avif" quality={"high"} />
  <h3>Программа</h3>
  <p>
   Мы используем 12 Шагов и 12 Традиций Анонимных Медиазависимых в качестве программы
   выздоровления и применяем инструменты MAA для прояснения компульсивного, навязчивого
   или деструктивного поведения, связанного с медиа, и для разработки стратегий по
   улучшению общего качества нашей жизни.
  </p>
  <h3>Наша цель</h3>
  <p>
   Наша главная цель - воздерживаться от медиазависимости день за днем и нести весть о
   выздоровлении другим медиазависимым, которые все еще страдают.
  </p>
  <a
   href="https://www.mediaaddictsanonymous.org/"
   target="_blank"
   rel="nofollow"
   class="underline underline-offset-4 text-orange-500 hover:text-blue-500 transition-colors ease-linear"
   >Преамбула А.А. адаптирована с разрешения AA Grapevine, Inc.
  </a>
  <p class="text-gray-400 italic">
   Разрешение на адаптацию преамбулы ни в коей мере не означает принадлежности к этой
   организации или ее одобрения.
  </p>
 </main>
</Layout>
