---
import { seo_settings_pages } from "~/data/SEOSettings";
import AllGroup from "../components/supabase/groups/AllGroups.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout
 title={seo_settings_pages.page_groups.title}
 description={seo_settings_pages.page_groups.description}
>
 <!-- <button type="button" onclick="window.myDialog.showModal();">Открыть как модалку</button>
 <dialog id="myDialog">🖖 Живи долго и процветай!</dialog> -->

 <section class="section-top">
  <nav title="Панель для создания группы">
   <div class="flex items-center flex-wrap gap-5">
    <span
     class="bg-purple-200 text-purple-700 leading-relaxed font-semibold rounded-md px-5 py-1"
     >Хочешь открыть группу?</span
    >
    <a href="#" class="bg-blue-500 btn">Создать группу</a>
   </div>
  </nav>
  <div class="mt-10">
   <AllGroup client:only="react" />
  </div>
 </section>
</Layout>
