---
import Main from "~/components/index/Main.astro";
import Preambyle from "~/components/index/Preambyle.astro";
import WhoWe from "~/components/index/WhoWe.astro";
import { seo_settings_pages } from "~/data/SEOSettings";
import Layout from "../layouts/Layout.astro";
---

<Layout
 title={seo_settings_pages.page_index.title}
 description={seo_settings_pages.page_index.description}
>
 <h1 class="sr-only">Анонимные Интернет Зависимые, Анонимные Медиа Зависимые</h1>
 <main class="section-top flex flex-col gap-20">
  <Main />
  <WhoWe />
  <Preambyle />
 </main>
</Layout>
