---
const p = "leading-relaxed text-gray-800";
---

<section class="flex lg:flex-row flex-col items-center gap-14">
 <img src="/main_elem_svg.svg" class="" alt="" />
 <div class="flex flex-col gap-5">
  <h2 class="font-bold text-3xl">Анонимные Медиа Зависимые 📱</h2>
  <h4 class="text-xl">12-шаговое восстановление от:</h4>
  <p class={p}>
   <b>Навязчивое использование всех средств массовой информации:</b> (как бумажных, так и электронных),
   включая газеты, интернет, телевидение, видео, игры, социальные сети, новости, романы, покупки,
   порно, фэнтези и т.п.
  </p>
 </div>
</section>

