---
import BaseHead, { Props as BaseHeadProps } from "~/components/Main/BaseHead.astro";
import Footer from "~/components/Main/Footer.astro";
import Header from "~/components/Main/Header.astro";
import "~/css/base.css";
import "~/css/content.css";

interface Props extends BaseHeadProps {
 title: string;
 description: string;
 typeSite: string;
 OGmainPoster: string;
 dateModified: string;
 datePublished: string;
}

const { ...attrs } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="ru">
 <head>
  <BaseHead {...attrs} typeSite="website" />
 </head>
 <body class="text-[#020519]">
  <Header />
  <div class="myContainer">
   <slot />
  </div>
  <Footer />
 </body>
</html>
